# SubuwuTuner clang-format
# LLVM base, 4-space indent, 100-col, pointer-binds-right
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:   '^"st/.*"'
    Priority: 1
  - Regex:   '^".*"'
    Priority: 2
  - Regex:   '^<(catch2|fmt|spdlog|gsl)/.*>'
    Priority: 3
  - Regex:   '^<.*/.*>'
    Priority: 4
  - Regex:   '^<.*>'
    Priority: 5
IndentCaseLabels: false
IndentPPDirectives: AfterHash
NamespaceIndentation: None
PackConstructorInitializers: NextLine
ReflowComments: true
SortIncludes: CaseInsensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInParentheses: false
